:root {
    --theme_color: #00c7fc;
}

.section1 {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 600px;
    background-image: url("Template Two (Team)/images/landing.jpg");
    background-size: cover;
    background-blend-mode: darken;
    overflow: clip;
    background-repeat: no-repeat;
}

.section1 .Header.Hisham {
    width: 90%;
    height: 70px;
    position: relative;
    left: 5%;
    top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.section1 .Header.Hisham>img {
    height: 50px;
}

.section1 .Header.Hisham::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: white;
}

.section1 .NavBar {
    width: 45%;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.section1 .NavBar * {
    display: inline-block;
    text-align: center;
}

#search::before {
    content: "";
    width: 1px;
    height: 25px;
    border: white;
    border-style: solid;
    border-width: 0px;
    border-left-width: 1px;
    position: absolute;
    right: 7.5%;
}

.section1 .button1::before {
    content: "";
    width: 10%;
    height: 3px;
    position: absolute;
    top: 288%;
    left: 3%;
    background-color: var(--theme_color);
    border: var(--theme_color);
    border-width: 1px;
    border-radius: 50px;
    visibility: hidden;
}

.section1 .button1:hover:before {
    visibility: visible;
}

.section1 .button2::before {
    content: "";
    width: 14%;
    height: 3px;
    position: absolute;
    top: 288%;
    left: 15%;
    background-color: var(--theme_color);
    border: var(--theme_color);
    border-width: 1px;
    border-radius: 5px;
    visibility: hidden;
}

.section1 .button2:hover:before {
    visibility: visible;
}

.section1 .button3::before {
    content: "";
    width: 18%;
    height: 3px;
    position: absolute;
    top: 288%;
    left: 31%;
    background-color: var(--theme_color);
    border: var(--theme_color);
    border-width: 1px;
    border-radius: 5px;
    visibility: hidden;
}

.section1 .button3:hover:before {
    visibility: visible;
}

.section1 .button4::before {
    content: "";
    width: 11%;
    height: 3px;
    position: absolute;
    top: 288%;
    left: 50%;
    background-color: var(--theme_color);
    border: var(--theme_color);
    border-width: 1px;
    border-radius: 5px;
    visibility: hidden;
}

.section1 .button4:hover:before {
    visibility: visible;
}

.section1 .button5::before {
    content: "";
    width: 13%;
    height: 3px;
    position: absolute;
    top: 288%;
    left: 63%;
    background-color: var(--theme_color);
    border: var(--theme_color);
    border-width: 1px;
    border-radius: 5px;
    visibility: hidden;
}

.section1 .button5:hover:before {
    visibility: visible;
}

.section1 .section1 .button6::before {
    content: "";
    width: 14%;
    height: 3px;
    position: absolute;
    top: 288%;
    left: 78%;
    background-color: var(--theme_color);
    border: var(--theme_color);
    border-width: 1px;
    border-radius: 5px;
    visibility: hidden;
}

.section1 .section1 .button6:hover:before {
    visibility: visible;
}


.section1 .partition2.Hisham {
    width: 55%;
    height: 250px;
    color: white;
    font-size: 15px;
    background-color: #115971;
    position: relative;
    top: 20%;
    padding-top: 1%;
}

.section1 .partition2.Hisham * {
    display: block;
    width: 60%;
    position: relative;
    left: 25%;
}

h1 {
    font-size: 30px;
    font-weight: lighter;
}

.section1 a {
    text-decoration: none;
    color: white;
}

.section1 a:hover {
    color: var(--theme_color);
}